table,th,td{
         border: 2px solid #090111;
     }
     table{
         width: 80%;
         height: 400px;
         margin-left: 60px;
         margin-top: 30px;
         background-color: goldenrod;
     }
     td{
padding-left: 30px;
     }
     a{
     color: teal;
     }
     a:hover{
         background-color: aqua;
     }